<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Headset, Headphones, Technology, Phones, Laptop, Desktop">
    <meta description="Buy your technology gadgets" content="Affordable devices that meet your techie needs.">
    <title>VibeWorks</title>
    <link rel="stylesheet" href="../Styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/Styles.css">
</head>
<body>
    <section class="p-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="pagination ">
                        <li class="page-item">
                            <a class="page-link bg-dark text-white" href="../index.html">Home</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-dark text-white" href="shop_all.html">Shop All</a>
                        </li>
                    </ul>
                    <div>
                        <h6 class="text-center bg-primary p-2 rounded text-light">Cart</h6>
                        <div class="row cart-info border p-2 rounded">
                            <div class="col-3">
                                <img src="../images/preview-laptop.jpg" alt="">
                            </div>
                            <div class="col-3">
                                <h6>Mac pro 2023</h6>
                                <p>
                                    R<span>20000.00</span>
                                </p>
                            </div>
                            <div class="col-3">
                                bin
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>Billing Information</h5>
                    <div>
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Address line 1">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Address line 2">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Province">
                            </div>
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="City">
                            </div>
                            <div class="form-group">
                                <select class="custom-select">
                                    <option value="">Country</option>
                                    <option value="south africa">South Africa</option>
                                    <option value="nigeria">Nigeria</option>
                                    <option value="china">China</option>
                                    <option value="united kingdom">United Kingdom</option>
                                    <option value="south korea">South Korea</option>
                                    <option value="canada">Canada</option>
                                    <option value="india">India</option>
                                    <option value="zambia">Zambia</option>
                                    <option value="spain">Spain</option>
                                    <option value="france">France</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="email" name="" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="" class="form-control" placeholder="Phonenumber">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Continue with the payment" name="" class="btn btn-success w-100" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="p-5 bg-dark text-light">
        <div class="container text-center h5">
            &copy; Vibe<span class="text-success">Works</span>
        </div>
    </footer>
    <script src="../Styles/js/bootstrap.bundle.min.js"></script>
    <script src="../Scripts.js"></script>
</body>
</html>