<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Headset, Headphones, Technology, Phones, Laptop, Desktop">
    <meta description="Buy your technology gadgets" content="Affordable devices that meet your techie needs.">
    <title>VibeWorks</title>
    <link rel="stylesheet" href="../Styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/Styles.css">
</head>
<body>
    <section class="p-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div>
                        <form action="" method="post">
                            <div class="form-group">
                                <input type="text" name="" class="form-control" placeholder="Address line 1">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="p-5 bg-dark text-light">
        <div class="container text-center h5">
            &copy; Vibe<span class="text-success">Works</span>
        </div>
    </footer>
    <script src="../Styles/js/bootstrap.bundle.min.js"></script>
    <script src="../Scripts.js"></script>
</body>
</html>