<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Headset, Headphones, Technology, Phones, Laptop, Desktop">
    <meta description="Buy your technology gadgets" content="Affordable devices that meet your techie needs.">
    <title>VibeWorks - Cart</title>
    <link rel="stylesheet" href="../Styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/Styles.css">
</head>
<body>
    <section class="p-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-4 mt-3 mt-md-0">
                    <h5>Shopping Cart</h5>
                    <hr>
                    <ul class="pagination ">
                        <li class="page-item">
                            <a class="page-link bg-dark text-white" href="../index.html">Home</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-dark text-white" href="shop_all.html">Shop All</a>
                        </li>
                    </ul>
                    <div class="row border p-2 rounded cart-info">
                        <div class="col-4">
                            <img src="../images/preview-laptop.jpg">
                        </div>
                        <div class="col-4">
                            <h6>Mac pro 23</h6>
                            <p>R<span>20000.00</span></p>
                            
                        </div>
                        <div class="col-4">
                            <input type="number" value="1" min="0" class="form-control mb-2">
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    </div>
                </div>
                <di class="col-md-4">
                    <h5>Summary</h5>
                    <hr>
                    <div class="text-uppercase">
                        Items
                        <span class="float-right">
                            R<span>0.00</span>
                        </span>
                    </div>
                    <div class="text-uppercase pt-2">
                        Shipping
                        <div class="form-group p-3">
                            <select class="custom-select">
                                <option value="standard delivery">Standard Delivery - R50</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-uppercase pt-3">
                       Promo code
                        <div class="form-group p-3">
                            <input type="text" placeholder="Enter your code" class="form-control">
                        </div>
                        <button type="button" class="btn btn-danger text-uppercase">Apply</button>
                    </div>
                    <hr>
                    <div class="text-uppercase">
                        Total cost
                        <span class="float-right">
                            R<span>0.00</span>
                        </span>
                    </div>
                    <button type="button" class="btn btn-primary text-uppercase mt-3  mb-3 w-100">Checkout</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="p-5 bg-dark text-light">
        <div class="container text-center h5">
            &copy; Vibe<span class="text-success">Works</span>
        </div>
    </footer>
    <script src="../Styles/js/bootstrap.bundle.min.js"></script>
    <script src="../Scripts.js"></script>
</body>
</html>