<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Headset, Headphones, Technology, Phones, Laptop, Desktop">
    <meta description="Buy your technology gadgets" content="Affordable devices that meet your techie needs.">
    <title>VibeWorks - Shop All</title>
    <link rel="stylesheet" href="../Styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Styles/Styles.css">
</head>
<body>
    <section class="showcase">
        <div class="container">
            <div class="p-2 h4">
                Vibe<span class="text-success">Works</span>
                <a href="cart.html"  class="bag float-right text-decoration-none">
                    <img src="images/bag-svgrepo-com.svg">
                    <sup id="items">0</sup>
                </a>
            </div>
            <div class="p-2">
                <ul class="pagination ">
                    <li class="page-item">
                        <a class="page-link bg-dark text-white" href="../index.html">Home</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-dark text-white" href="shop_all.html">Shop All</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="../images/450.png" class="img-responsive">
                </div>
                <div class="col-md-6 p-5">
                    <div class="h1">
                        Sony v8 Headphones
                    </div>
                    <div class="pb-3">
                        <h6>R<span>1500</span></h6>
                        <h5>Description</h5>
                        Velit dolore impedit sunt veritatis? Corporis a minima consequatur, omnis deleniti aliquid reiciendis placeat. Suscipit quod culpa hic nisi explicabo sequi laborum!
                    </div>
                    <button type="button" class="w-100 btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
    </section>
    <section class="p-2">
        <div class="container pt-3">
            <div class="m-auto w-50 text-center">
                <select class="custom-select" onchange="Filter();" id="filter-value">
                    <option value="all">All</option>
                    <option value="phones">Phones</option>
                    <option value="laptops">Laptops</option>
                    <option value="headphones">Headphones</option>
                </select>
            </div>
        </div>
    </section>
    <section class="p-sm-3" id="section-1">
        <div class="container">
            <div class="pb-4 pt-2">
               <span class="h5"> Phones & Accessories</span>
                <a href="#" class="float-right text-dark">Shop all ---></a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/phone.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Iphone 14x pro
                                <span class="float-right">
                                    R<span>14000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/phone.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Iphone 14x pro
                                <span class="float-right">
                                    R<span>14000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/phone.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Iphone 14x pro
                                <span class="float-right">
                                    R<span>14000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/phone.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Iphone 14x pro
                                <span class="float-right">
                                    R<span>14000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/phone.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Iphone 14x pro
                                <span class="float-right">
                                    R<span>14000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/phone.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Iphone 14x pro
                                <span class="float-right">
                                    R<span>14000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-sm-3" id="section-2">
        <div class="container">
            <div class="pb-4 pt-4">
               <span class="h5">Computer Equipment</span>
                <a href="#" class="float-right text-dark">Shop all ---></a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/preview-laptop.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Mac pro 2023
                                <span class="float-right">
                                    R<span>20000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/preview-laptop.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Mac pro 2023
                                <span class="float-right">
                                    R<span>20000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/preview-laptop.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Mac pro 2023
                                <span class="float-right">
                                    R<span>20000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/preview-laptop.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Mac pro 2023
                                <span class="float-right">
                                    R<span>20000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/preview-laptop.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Mac pro 2023
                                <span class="float-right">
                                    R<span>20000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/preview-laptop.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Mac pro 2023
                                <span class="float-right">
                                    R<span>20000.00
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-sm-3" id="section-3">
        <div class="container">
            <div class="pb-4 pt-4">
               <span class="h5">Miscellaneous Items</span>
                <a href="#" class="float-right text-dark">Shop all ---></a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/headphones.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Martin James HeadSet
                                <span class="float-right">
                                    R<span>2500
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/headphones.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Martin James HeadSet
                                <span class="float-right">
                                    R<span>2500
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/headphones.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Martin James HeadSet
                                <span class="float-right">
                                    R<span>2500
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/headphones.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Martin James HeadSet
                                <span class="float-right">
                                    R<span>2500
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/headphones.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Martin James HeadSet
                                <span class="float-right">
                                    R<span>2500
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-img-top">
                            <img src="../images/headphones.jpg" class="img-fluid">
                        </div>
                        <div class="card-body p-2">
                            <div class="card-title h6 font-weight-bold text-uppercase">
                                Martin James HeadSet
                                <span class="float-right">
                                    R<span>2500
                                </span>
                            </div>
                            <div class="card-text text-center lead">
                                High class, high quality phones at affordable 
                                prices.
                            </div>
                            <div class="btn btn-primary w-100">
                                Add to cart
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="p-5 bg-dark text-light">
        <div class="container text-center h5">
            &copy; Vibe<span class="text-success">Works</span>
        </div>
    </footer>
    <script src="../Scripts.js"></script>
    <script src="../Styles/js/bootstrap.bundle.min.js"></script>
</body>
</html>